{{!-- views/auth/login.hbs --}}

<form action="/login" method="post">
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input type="text" name="username" class="form-control" placeholder="ironhacker">
  <div id="emailHelp" class="form-text">We'll never share your user with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Your password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
